.button {
    display: inline-block;

    box-sizing: border-box;
    padding: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;

  font-size: 14px;
  text-align: center;

  transition: all 0.2s;
}

.primary {
  color: var(--white);
  background-color: var(--primary);
}

.primary:hover {
  background-color: var(--primary-hover);
}

.ghost {
  border: 1px solid var(--gray-light);
  color: var(--black);
  background: none;
}

.ghost:hover {
  color: white;
  background-color: var(--primary);
}

.arrow {
  display: inline-block;
  margin-left: 10px;
}

.down {
  transform: rotate(90deg);
  transition: all 0.2s;
}

.primary svg,
.ghost:hover svg {
  fill: var(--white);
}
