.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  min-height: 100vh;
  padding: 6rem;
}

.nav {
  border: 1px solid darkcyan;
}

.wrapper {
  display: grid;
  grid-template:
    ". header header ." auto ". sidebar body ." 1fr "footer footer footer footer" auto / auto 230px minmax(320px, 1200px) auto;
  gap: 40px 30px;  /* Это мы сделала чтобы развести */

  min-height: 100vh;

  font-family: var(--font-family);

  background-color: #F5F6F8;
}

.header {
  display: none;
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.body {
  grid-area: body;
}

.footer {
  grid-area: footer;
}

@media (width <= 765px) {
  .wrapper {
    grid-template-areas:
      "header"
      "body"
      "footer";
    grid-template-columns:minmax(320px, 1fr);
  }

  .sidebar {
    display: none !important;
  }

  .header {
    display: block;
  }

  .body {
    padding: 15px;
  }
}

.sciplink {
  position: fixed;
  top: 0;
  left: 100px;

  overflow: hidden;
  display: block;

  height: 0;

  color: var(--white);

  background: var(--primary);
}

.displayed {
  height: auto;
}
