.firstLevel {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 20px;
  align-items: center;

  margin-top: 20px;

  font-size: 18px;
  line-height: 25px;
}

.firstLevelActive,
.firstLevel:hover {
  color: var(--primary)
}

.firstLevelActive svg,
.firstLevel:hover svg {
  fill: var(--primary)
}

.secondLevel {
  cursor: pointer;

  margin-bottom: 10px;

  font-size: 12px;
  font-weight: 400;
  color: var(--gray-dark);
  text-transform: uppercase;
}

.secondBlock {
  margin-top: 15px;
  margin-left: 12px;
  padding-left: 32px;
  border-left: 1px solid #DFDFDF;
}

.secondLevelBlock {
  overflow: hidden;
}


.thirdLevel {
  cursor: pointer;

  display: block;

  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 500;
  color: var(--dark);

  outline-offset: -1px ;

}

.thirdLevelActive,
.thirdLevel:hover {
  color: var(--primary)

}